
/***************************************
              GLOBAL
****************************************/


html {
    height: 100%;
}

body, .wrapper{
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 100px;
}

   
body{
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  overflow-x:hidden;

}

ul{
  padding-left: 0;
  list-style-type: none;
}

p{
  line-height: 22px;
  color: #636363;
}

a{
  text-decoration: none !important;
}

h3, h4{
  font-family: 'Montserrat', sans-serif;
  
}

h2, h3{
  margin:0px 0px 20px 0px;
}


/***************************************
            STRUCTURE
****************************************/







/***************************************
             FORMS
****************************************/

input[type="submit"] br{
  display: none;
}

form.wpcf7-form input, textarea, select { 
  width: 370px;
  display: block;
  margin: 0 0 10px;
  padding: 7px 6px; 
  border: 1px solid #bbb;
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
  border-radius: 2px; 
  -webkit-box-shadow: 0 1px 1px #fff; 
  font: 12px/18px Arial, Helvetica, Verdana, sans-serif; 
  text-shadow: 0 0 1px #fff; 
  color: #666; 
  position: relative; 
  z-index: 2; 
  line-height: 18px; 
  background-color: #EFEEE8; }

form.wpcf7-form input[type="submit"]{
  width: 150px;
  float: left;
  background: #009d4f;
  color: #efefef;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

form.wpcf7-form label{
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
}










